/* Home.css */

/* Reset the margin on the body element */
body {
  margin: 0;
}

/* Define styles for the container of your home page */
.home-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  padding: 20px; /* Added padding for spacing */
  background: linear-gradient(45deg, #ff00b8, #7d00ff, #00ffcc, #00d4ff);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  color: white;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  display: flex;
  justify-content: space-between; /* Aligns the button to the right */
  width: 100%;
  padding: 10px 0;
}

main, footer {
  text-align: center;
  padding: 20px;
}

footer {
  margin-top: auto;
}

.sign-up-button {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
}

.sign-up-button:hover {
  background-color: #f0f0f0;
}

