/* styles.css */

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.storybody {
  float: left;
  display: flex;
  justify-content: space-between;
}

.storycontent-box {
  /* Style for the content box to the right */
  flex: 1;
  float: right;
  width: 500px;
  padding: 10px;
  justify-content: flex-end;
  margin-left: 400px;
  margin-right: 50px;
  background-color: #e0e0e0;
  border-radius: 10px;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.child-mode-header {
  justify-content: right;
}

.prompt-input {
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: left; /* Adjust as needed */
}

.button {
  color: white;
  background-color: rgba(69, 123, 157, 0.7);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  justify-content: left;
  border: none;
  align-items: center;
  margin-right: 10px; /* Add margin between buttons */
}

.button:hover {
  background-color: rgba(69, 123, 157, 1);
}

.content {
  width: 300px;
  padding: 30px;
  left: 20px;
  top: 0;
  justify-content: left;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  height: 100vh; /* Set the height to 100% of the viewport height */
}

.content:before {
  content: "";
  position: absolute;
  justify-content: left;
  top: 0;
  left: 0; /* Adjust this value to control the width of the ribbon */
  width: 10px; /* Adjust this value to control the width of the ribbon */
  height: 100%;
  background: rgba(255, 255, 255, 0.8); /* Match the background color */
}