/* styles.css */

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}

.button {
  color: white;
  background-color: rgba(69, 123, 157, 0.7); /* Soft blue background color */
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px; /* Rounded corners for softness */
  border: none; /* Remove button border */
}


.content {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  border-radius: 10px; /* Rounded corners for softness */
}

  